/* Book List Item */

.item {
    margin: 1rem 1.5rem;
    position: relative;
    width: 9.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #AAA;
}

.book-icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.book-icon-container::before {
    content: "";
    position: absolute;
    background-image: var(--dataURL);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

.book-icon {
    width: 8rem;
    height: 10rem;
}

.book-title {
    padding: 0.5rem 0.5rem 0;
}

.book-author {
    padding: 0.5rem;
    color:#999;
}

/* Change Shelf */

.change-shelf {
    position: absolute;
    right: -0.5rem;
    bottom: -0.5rem;
    display: flex;
}
.fa-icon-container {
    background-color:  #644E;
    color: linen;
    border-radius: 50%;
}

.fa-icon-down {
    padding: 0.5rem;
    transform: scale(1.15);
}

.fa-icon-plus {
    padding: 0.45rem 0.6rem;
    transform: scale(1.15);
}

.shelf-dd {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
}